<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957681609480-ahl0rtc045qm774bmh96npgqn1k5jju0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957681609480-ahl0rtc045qm774bmh96npgqn1k5jju0</string>
	<key>API_KEY</key>
	<string>AIzaSyAEOo8qgI1ptKew2VxGsMT-7I3OhwuneDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>957681609480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.direxme.app.frameup</string>
	<key>PROJECT_ID</key>
	<string>frame-up-4b7e4</string>
	<key>STORAGE_BUCKET</key>
	<string>frame-up-4b7e4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957681609480:ios:6a87b25619c713c36e9abd</string>
</dict>
</plist>